<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <h2>Welcome, {{ user.name or user.email }}!</h2>
        Here is your Dashboard. <br>

        <a href="{{ url_for('profile')}}"> <button> Your Profile </button> </a>

        <p>
            <h3>
                Your Current Parkings
            </h3>

            <table>
                <thead>
                    <tr>
                        <th>Vehicle No.</th>
                        <th>Lot Location</th>
                        <th>Spot No.</th>
                        <th>Address</th>
                        <th>Pincode</th>
                        <th>Parking Timestamp</th>
                        <th>Cost per Hour</th>
                        <th>Contact</th>
                    </tr>
                </thead>
                <tbody>
                    {% if cur_reservations %}
                    {%for item in cur_reservations%}
                    <tr>
                        <td>{{ item.vehicle_number }}</td>
                        <td>{{ item.spot.lot.prime_location_name }}</td>
                        <td>{{ item.spot.id.split('_')[1][1:] }}</td>
                        <td>{{ item.spot.lot.address }}</td>
                        <td>{{ item.spot.lot.pincode }}</td>
                        <td>{{ item.parking_timestamp.strftime('%d/%m/%Y %I:%M %p') }}</td>
                        <td>{{ item.spot.lot.price_per_hour}}</td>
                        <td>{{ item.spot.lot.contact_number }}</td>
                        <td>
                            <form method = "POST" action = "{{ url_for('release') }}">
                                <input type = 'hidden' name = 'reservation_id' value = "{{ item.id }}">
                                <button type = 'submit'> Release </button>
                            </form>
                        </td>
                    </tr>

                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </p>
        <p>

            <h3>
                Your Past Parkings
            </h3>

            <table>
                <thead>
                    <tr>
                        <th>Vehicle Number</th>
                        <th>Prime Location</th>
                        <th>Address</th>
                        <th>Pincode</th>
                        <th>Parking Timestamp</th>
                        <th>Leaving Timestamp</th>
                        <th>Total Cost</th>
                    </tr>
                </thead>
                <tbody>
                    {% if past_reservations %}
                    {%for item in past_reservations%}
                    <tr>
                        <td>{{ item.vehicle_number }}</td>
                        <td>{{ item.lot_prime_location }}</td>
                        <td>{{ item.address }}</td>
                        <td>{{ item.pincode }}</td>
                        <td>{{ item.parking_timestamp.strftime('%d/%m/%Y %I:%M %p') }}</td>
                        <td>{{ item.leaving_timestamp.strftime('%d/%m/%Y %I:%M %p') }}</td>
                        <td>{{ item.total_cost | round | int}}</td>
                    </tr>

                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </p>

        <p>
            <h4>Reserve a spot for Parking</h4>
            <form id="spot_search" action = "{{url_for('search')}}" method="GET">
                <input type = "text" id = "search" placeholder="Location/Pincode/Area" name = "query" required> 
                <input type = "submit" value = "Search">
            </form>
        </p>

        <p>
            {% if results is defined %}
                <table>
                    <thead>
                        <tr>
                            <th>Prime Location</th>
                            <th>Address</th>
                            <th>Pincode</th>
                            <th>Cost per hour</th>
                            <th>Contact</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if results %}
                            {% for result in results %}
                            <tr>
                                <td>{{ result.prime_location_name }}</td>
                                <td>{{ result.address }}</td>
                                <td>{{ result.pincode }}</td>
                                <td>{{ result.price_per_hour }}</td>
                                <td>{{ result.contact_number }}</td>
                                <td>
                                    <form method="POST" action="{{ url_for('booking_confirmation') }}">
                                        <input type="hidden" name="lot_id" value="{{ result.id }}">
                                        <button type="submit">Book</button>
                                    </form></td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr><td colspan="6">No results found</td></tr>
                        {% endif %}
                    </tbody>
                </table>
            {% endif %}
        </p>
        
        <a href="{{ url_for('logout') }}">Logout</a>
    </body>
</html>